$right-margin: 0px 30px 0px 0px;
body {
    background-color: $black;
    overflow: $hidden;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    margin: 30px 0px 0px 0px;
}

.nav-links {
    display: $flex;
    margin: 0px 0px 0px 0px;
    li {
        margin: $right-margin;
        list-style: none;
        a {
            font-size: 16px;
            font-weight: 700;
            text-decoration: none;
            color: #ffff;
            position: relative;
        }
    }
}

.active {
    border-bottom: 2px solid #ffff;
}

.nav-link:not(.active):after {
    content: '';
    border-bottom: 2px solid #ffff;
    bottom: $zero;
    left: 0;
    right: 100%;
    transition: all 500ms;
    position: absolute;
}

.nav-link:hover:after {
    right: 0;
}

.collapse {
    width: 100%;
    float: inline-end;
    display: flex;
    justify-content: flex-end;
    // text-align: right;
    margin: $right-margin;
}