$black: black;
body {
    background-color: $black;
}

.navbar {
    display: flex;
    margin: 30px 0px 0px 0px;
}

.nav-links {
    display: flex;
    margin: 0px 0px 0px 0px;
    li {
        margin: 0px 30px 0px 0px;
        list-style: none;
        a {
            font-size: 16px;
            font-weight: 700;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
            color: #ffff;
            position: relative;
        }
    }
}