@media only screen and (max-width: 960px) {
    .slides {
        display: block;
        width: 100%;
    }
    .previews {
        width: 300%;
    }
    .box {
        width: 100%;
    }
    .videoTitle {
        position: absolute;
    }
    .subtitle {
        opacity: 0;
    }
}