@media only screen and (max-width: 960px) {
    .slides {
        display: block;
    }
    .previews {
        width: 100%;
    }
    .box {
        width: 100%;
        position: absolute;
        ;
    }
}