@media only screen and (max-width: 960px) {
    body {
        overflow-y: scroll;
        height: 100vh;
    }
    .slides {
        display: block;
        width: 100%;
    }
    .box {
        position: relative;
    }
    .videoTitle,
    .subtitle {
        text-transform: capitalize;
        color: #ffffff;
        width: 100%;
        bottom: 40%;
    }
    video {
        z-index: -2;
    }
    .videoTitle {
        font-size: 30px;
        position: absolute;
    }
    .subtitle {
        position: absolute;
        // color: #ffffff;
        //     transform: translate(10px, -210px);
        //     position: relative;
    }
}