@media only screen and (max-width: 960px) {
    body {
        overflow-y: scroll;
        height: 100vh;
    }
    .slides {
        display: block;
        width: 100%;
    }
    .box {
        position: relative;
        .videoTitle,
        .subtitle {
            position: absolute;
            font-size: 30px;
            text-transform: capitalize;
            color: #ffffff;
            width: 100%;
            z-index: -1;
        }
        video {
            // opacity: 10%;
        }
        // .subtitle {
        // color: #ffffff;
        //     transform: translate(10px, -210px);
        //     position: relative;
    }
}