$black: black;
$fontcolor: white;
$none: none;
$purple: purple;
body {
    background-color: $black;
}

.navbar-nav {
    float: right;
    display: flex;
    justify-content: right;
    text-align: right;
    a {
        color: $fontcolor;
    }
}

.navbar {
    width: 100%;
}