$black: black;
$fontcolor: white;
$none: none;
$purple: purple;
body {
    background-color: $black;
}

.navbar-nav {
    float: inline-end;
    display: flex;
    justify-content: right;
    text-align: end;
    a {
        color: $fontcolor;
    }
}