$black: black;
$fontcolor: white;
$none: none;
body {
    background-color: $black;
    overflow-x: hidden;
}

.collapse {
    width: 100%;
    float: inline-end;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    ul {
        a {
            color: $fontcolor;
        }
    }
}

.navbar-toggler-icon {
    font-size: 20px;
}

.navbar {
    margin: 20px 20px 0px 0px;
}

.logo {
    width: 97.3px;
    height: 23px;
    margin: 0px 0px 0px 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

// video style
.box {
    width: 500px;
    height: 300px;
}

.previews {
    width: 100%;
    height: 100%;
    border: none;
}

.slides {
    display: flex;
    overflow-x: scroll;
    margin-top: 100px;
    margin-bottom: 100px;
    // position: absolute;
}

#slidebox li {
    list-style: none;
    display: flex;
    position: relative;
    margin-bottom: 100px;
}

.slides::-webkit-scrollbar {
    width: 40px;
    height: 3px;
    margin-bottom: 100px;
    margin-top: 100px;
    margin: 580px;
    position: absolute;
}

.slides::-webkit-scrollbar-track {
    background: rgb(172, 168, 163);
    margin: 580px;
    width: 100px;
    height: 100px;
    position: absolute;
}

.slides::-webkit-scrollbar-track-piece {
    width: 40px;
    height: 202px;
    margin: 100px;
    position: absolute;
}

.slides::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    position: absolute;
    max-width: 80px;
    width: 40px;
    height: 2px;
}