$black: black;
$white: white;
$none: none;
body {
    background-color: $black;
}

.navbar-nav {
    a {
        background: $none;
        color: $white;
    }
    li {
        color: $white;
    }
}