$black: black;
$white: white;
body {
    background-color: $black;
}

.nav-link {
    color: $white;
    background-color: $white;
}

.navbar {
    background-color: $black;
}

ul {
    background-color: $black;
}