$black: black;
$fontcolor: white;
$none: none;
$flex: flex;
$marginB100: 100px;
$marginT100: 100px;
$hidden: hidden;
$auto: auto;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
body,
html {
    background-color: $black;
    overflow: $hidden;
}

* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    margin: 30px 0px 0px 0px;
}

.nav-links {
    display: $flex;
    margin: 0px 0px 0px 0px;
    li {
        margin: 0px 30px 0px 0px;
        list-style: none;
        a {
            font-size: 16px;
            font-weight: 700;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
            color: #ffff;
        }
    }
}

.active,
a:hover {
    border-bottom: 2px solid #ffff;
    transform: translateX(100px);
    left: 100px;
    border-width: 10px; // transform: translate(0%, 0px);
    // transition: all .5s;
}

.collapse {
    width: 100%;
    float: inline-end;
    display: $flex;
    justify-content: flex-end;
    text-align: right;
    margin: 0px 30px 0px 0px;
}

.logo {
    width: 97.3px;
    height: 23px;
    margin: 0px 0px 0px 40px;
}

.wrapper {
    overflow-x: scroll;
    margin-top: 70px;
}

.slides {
    width: 450%;
    height: $auto;
    overflow-x: $hidden;
    display: flex;
    margin-top: $marginT100;
    margin-bottom: $marginB100;
}

.box {
    float: left;
    width: 100%;
    z-index: 0;
    height: $auto;
    margin: 0;
}

.box video {
    width: 100%;
    height: $auto;
    margin: 0;
}

.videoTitle {
    color: $fontcolor;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0px 0px 15px;
    text-transform: capitalize;
}

.subtitle {
    font-size: 18px;
    margin: 0px 0px 0px 15px;
}

.wrapper::-webkit-scrollbar {
    height: 2px;
    margin-bottom: $marginB100;
    margin-top: $marginT100;
    transform: translateY(140px);
    position: absolute;
}

.wrapper::-webkit-scrollbar-track {
    background: rgb(122, 119, 115);
    margin-left: 500px;
    margin-right: 500px;
    width: 20px;
    transform: translateY(140px);
}

.wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(248, 241, 241);
    border-radius: 20px;
}

@import "mobilerespond";