$black: black;
$white: white;
$none: tranparent;
body {
    background-color: $black;
}

.navbar-nav {
    a {
        color: $white;
        background: $none;
    }
    li {
        color: wheat;
    }
}